In [1]:
import pandas as pd

In [2]:
df_population = pd.read_csv("population_state.csv")
df_population

,"City, State",2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,City,State_Name,State
0,"New York City , New York","8,175,133","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478","8,390,081","8,336,817",New York,New York,NY
1,"Los Angeles , California","3,792,621","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788","3,977,596","3,979,576",Los Angeles,California,CA
2,"Chicago , Illinois","2,695,598","2,708,114","2,719,141","2,725,731","2,727,066","2,724,344","2,716,723","2,711,069","2,701,423","2,693,976",Chicago,Illinois,IL
3,"Houston , Texas","2,099,451","2,126,032","2,161,593","2,199,391","2,241,826","2,286,908","2,309,544","2,316,750","2,318,573","2,320,268",Houston,Texas,TX
4,"Phoenix , Arizona","1,445,632","1,469,796","1,499,274","1,526,491","1,555,445","1,583,690","1,612,199","1,633,560","1,654,675","1,680,992",Phoenix,Arizona,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Hialeah , Florida","224,669","228,127","230,445","232,316","232,850","233,872","234,283","236,314","234,941","233,339",Hialeah,Florida,FL
96,"Richmond , Virginia","204,214","206,391","210,794","213,860","217,044","220,856","225,369","227,230","229,221","230,436",Richmond,Virginia,VA
97,"Boise , Idaho","205,671","212,635","215,627","217,330","219,440","220,850","224,604","227,648","228,442","228,959",Boise,Idaho,ID
98,"Spokane , Washington","208,916","209,042","209,304","210,036","211,095","212,545","215,191","217,415","219,332","222,081",Spokane,Washington,WA
99,"Baton Rouge , Louisiana","229,493","228,643","228,889","228,346","227,851","227,202","226,686","224,414","222,190","220,236",Baton Rouge,Louisiana,LA

In [3]:
df_emissions = pd.read_csv("Data_urban_emissions.csv")
df_emissions

,City,Sum of kgco2_2010,Sum of kgco2_2011,Sum of kgco2_2012,Sum of kgco2_2013,Sum of kgco2_2014,Sum of kgco2_2015,Sum of kgco2_2016,Sum of kgco2_2017,State
0,Washington,1.702528e+09,1.636862e+09,1.640230e+09,1.554983e+09,1.655583e+09,1.673520e+09,1.715586e+09,1.774668e+09,DC
1,Aurora,1.730066e+09,1.638184e+09,1.600044e+09,1.597572e+09,1.627874e+09,1.688354e+09,1.846353e+09,1.988537e+09,CO
2,Colorado Springs,1.688351e+09,1.626024e+09,1.619461e+09,1.644232e+09,1.699541e+09,1.784495e+09,1.965523e+09,2.114217e+09,CO
3,Denver,4.316772e+09,4.103659e+09,3.984918e+09,3.957706e+09,4.053231e+09,4.267448e+09,4.800838e+09,5.374324e+09,CO
4,Anaheim,1.968257e+09,1.889818e+09,1.822750e+09,1.754111e+09,1.799575e+09,1.840287e+09,1.953379e+09,2.020090e+09,CA
...,...,...,...,...,...,...,...,...,...,...
93,Charlotte,4.178810e+09,3.989790e+09,3.861924e+09,3.907029e+09,4.022206e+09,4.279728e+09,4.758825e+09,5.325616e+09,NC
94,Durham,1.785687e+09,1.725171e+09,1.670458e+09,1.677255e+09,1.711885e+09,1.796765e+09,1.963036e+09,2.152006e+09,NC
95,Greensboro,2.023724e+09,1.966551e+09,1.873606e+09,1.852041e+09,1.879035e+09,1.971517e+09,2.172491e+09,2.426070e+09,NC
96,Raleigh,2.850672e+09,2.783896e+09,2.725547e+09,2.759710e+09,2.825658e+09,2.969310e+09,3.246209e+09,3.543696e+09,NC
97,Winston-Salem,1.372697e+09,1.216912e+09,1.137749e+09,1.129893e+09,1.181091e+09,1.295056e+09,1.491814e+09,1.738105e+09,NC

In [4]:
df_population = df_population.rename(columns={"City, State": "City_State",
                             "2010": "population2010",
                              "2011": "population2011",
                              "2012": "population2012",
                              "2013": "population2013",
                              "2014": "population2014",
                              "2015": "population2015",
                              "2016": "population2016",
                              "2017": "population2017"})
df_population

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,2018,2019,City,State_Name,State
0,"New York City , New York","8,175,133","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478","8,390,081","8,336,817",New York,New York,NY
1,"Los Angeles , California","3,792,621","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788","3,977,596","3,979,576",Los Angeles,California,CA
2,"Chicago , Illinois","2,695,598","2,708,114","2,719,141","2,725,731","2,727,066","2,724,344","2,716,723","2,711,069","2,701,423","2,693,976",Chicago,Illinois,IL
3,"Houston , Texas","2,099,451","2,126,032","2,161,593","2,199,391","2,241,826","2,286,908","2,309,544","2,316,750","2,318,573","2,320,268",Houston,Texas,TX
4,"Phoenix , Arizona","1,445,632","1,469,796","1,499,274","1,526,491","1,555,445","1,583,690","1,612,199","1,633,560","1,654,675","1,680,992",Phoenix,Arizona,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Hialeah , Florida","224,669","228,127","230,445","232,316","232,850","233,872","234,283","236,314","234,941","233,339",Hialeah,Florida,FL
96,"Richmond , Virginia","204,214","206,391","210,794","213,860","217,044","220,856","225,369","227,230","229,221","230,436",Richmond,Virginia,VA
97,"Boise , Idaho","205,671","212,635","215,627","217,330","219,440","220,850","224,604","227,648","228,442","228,959",Boise,Idaho,ID
98,"Spokane , Washington","208,916","209,042","209,304","210,036","211,095","212,545","215,191","217,415","219,332","222,081",Spokane,Washington,WA
99,"Baton Rouge , Louisiana","229,493","228,643","228,889","228,346","227,851","227,202","226,686","224,414","222,190","220,236",Baton Rouge,Louisiana,LA

In [5]:
df_population = df_population.drop(["2018", "2019"], axis=1)
df_population

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,City,State_Name,State
0,"New York City , New York","8,175,133","8,272,948","8,346,693","8,396,091","8,433,806","8,463,049","8,469,153","8,437,478",New York,New York,NY
1,"Los Angeles , California","3,792,621","3,820,876","3,851,202","3,881,622","3,909,901","3,938,568","3,963,226","3,975,788",Los Angeles,California,CA
2,"Chicago , Illinois","2,695,598","2,708,114","2,719,141","2,725,731","2,727,066","2,724,344","2,716,723","2,711,069",Chicago,Illinois,IL
3,"Houston , Texas","2,099,451","2,126,032","2,161,593","2,199,391","2,241,826","2,286,908","2,309,544","2,316,750",Houston,Texas,TX
4,"Phoenix , Arizona","1,445,632","1,469,796","1,499,274","1,526,491","1,555,445","1,583,690","1,612,199","1,633,560",Phoenix,Arizona,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Hialeah , Florida","224,669","228,127","230,445","232,316","232,850","233,872","234,283","236,314",Hialeah,Florida,FL
96,"Richmond , Virginia","204,214","206,391","210,794","213,860","217,044","220,856","225,369","227,230",Richmond,Virginia,VA
97,"Boise , Idaho","205,671","212,635","215,627","217,330","219,440","220,850","224,604","227,648",Boise,Idaho,ID
98,"Spokane , Washington","208,916","209,042","209,304","210,036","211,095","212,545","215,191","217,415",Spokane,Washington,WA
99,"Baton Rouge , Louisiana","229,493","228,643","228,889","228,346","227,851","227,202","226,686","224,414",Baton Rouge,Louisiana,LA

In [6]:
df_population.dtypes

City_State        object
population2010    object
population2011    object
population2012    object
population2013    object
population2014    object
population2015    object
population2016    object
population2017    object
City              object
State_Name        object
State             object
dtype: object

In [7]:
df_population["population2010"] = df_population["population2010"].str.replace(',', '').astype(int)
df_population["population2011"] = df_population["population2011"].str.replace(',', '').astype(int)
df_population["population2012"] = df_population["population2012"].str.replace(',', '').astype(int)
df_population["population2013"] = df_population["population2013"].str.replace(',', '').astype(int)
df_population["population2014"] = df_population["population2014"].str.replace(',', '').astype(int)
df_population["population2015"] = df_population["population2015"].str.replace(',', '').astype(int)
df_population["population2016"] = df_population["population2016"].str.replace(',', '').astype(int)
df_population["population2017"] = df_population["population2017"].str.replace(',', '').astype(int)

df_population

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,City,State_Name,State
0,"New York City , New York",8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,New York,New York,NY
1,"Los Angeles , California",3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,Los Angeles,California,CA
2,"Chicago , Illinois",2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,Chicago,Illinois,IL
3,"Houston , Texas",2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,Houston,Texas,TX
4,"Phoenix , Arizona",1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,Phoenix,Arizona,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...
95,"Hialeah , Florida",224669,228127,230445,232316,232850,233872,234283,236314,Hialeah,Florida,FL
96,"Richmond , Virginia",204214,206391,210794,213860,217044,220856,225369,227230,Richmond,Virginia,VA
97,"Boise , Idaho",205671,212635,215627,217330,219440,220850,224604,227648,Boise,Idaho,ID
98,"Spokane , Washington",208916,209042,209304,210036,211095,212545,215191,217415,Spokane,Washington,WA
99,"Baton Rouge , Louisiana",229493,228643,228889,228346,227851,227202,226686,224414,Baton Rouge,Louisiana,LA

In [8]:
df_emissions = df_emissions.rename(columns={"Sum of kgco2_2010": "emissions2010",
                              "Sum of kgco2_2011": "emissions2011",
                              "Sum of kgco2_2012": "emissions2012",
                              "Sum of kgco2_2013": "emissions2013",
                              "Sum of kgco2_2014": "emissions2014",
                              "Sum of kgco2_2015": "emissions2015",
                              "Sum of kgco2_2016": "emissions2016",
                              "Sum of kgco2_2017": "emissions2017"})
df_emissions

,City,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017,State
0,Washington,1.702528e+09,1.636862e+09,1.640230e+09,1.554983e+09,1.655583e+09,1.673520e+09,1.715586e+09,1.774668e+09,DC
1,Aurora,1.730066e+09,1.638184e+09,1.600044e+09,1.597572e+09,1.627874e+09,1.688354e+09,1.846353e+09,1.988537e+09,CO
2,Colorado Springs,1.688351e+09,1.626024e+09,1.619461e+09,1.644232e+09,1.699541e+09,1.784495e+09,1.965523e+09,2.114217e+09,CO
3,Denver,4.316772e+09,4.103659e+09,3.984918e+09,3.957706e+09,4.053231e+09,4.267448e+09,4.800838e+09,5.374324e+09,CO
4,Anaheim,1.968257e+09,1.889818e+09,1.822750e+09,1.754111e+09,1.799575e+09,1.840287e+09,1.953379e+09,2.020090e+09,CA
...,...,...,...,...,...,...,...,...,...,...
93,Charlotte,4.178810e+09,3.989790e+09,3.861924e+09,3.907029e+09,4.022206e+09,4.279728e+09,4.758825e+09,5.325616e+09,NC
94,Durham,1.785687e+09,1.725171e+09,1.670458e+09,1.677255e+09,1.711885e+09,1.796765e+09,1.963036e+09,2.152006e+09,NC
95,Greensboro,2.023724e+09,1.966551e+09,1.873606e+09,1.852041e+09,1.879035e+09,1.971517e+09,2.172491e+09,2.426070e+09,NC
96,Raleigh,2.850672e+09,2.783896e+09,2.725547e+09,2.759710e+09,2.825658e+09,2.969310e+09,3.246209e+09,3.543696e+09,NC
97,Winston-Salem,1.372697e+09,1.216912e+09,1.137749e+09,1.129893e+09,1.181091e+09,1.295056e+09,1.491814e+09,1.738105e+09,NC

In [9]:
emission_population_data = df_population.merge(df_emissions, how="inner", on=["City"])
emission_population_data

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,City,...,State_x,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017,State_y
0,"New York City , New York",8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,New York,...,NY,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10,NY
1,"Los Angeles , California",3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,Los Angeles,...,CA,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10,CA
2,"Chicago , Illinois",2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,Chicago,...,IL,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09,IL
3,"Houston , Texas",2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,Houston,...,TX,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10,TX
4,"Phoenix , Arizona",1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,Phoenix,...,AZ,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"Hialeah , Florida",224669,228127,230445,232316,232850,233872,234283,236314,Hialeah,...,FL,1.074061e+09,1.048081e+09,1.030512e+09,1.010589e+09,1.031680e+09,1.055433e+09,1.112826e+09,1.187533e+09,FL
94,"Richmond , Virginia",204214,206391,210794,213860,217044,220856,225369,227230,Richmond,...,VA,1.342048e+09,1.270741e+09,1.250544e+09,1.241224e+09,1.251715e+09,1.304951e+09,1.431631e+09,1.591292e+09,VA
95,"Boise , Idaho",205671,212635,215627,217330,219440,220850,224604,227648,Boise,...,ID,1.308069e+09,1.300467e+09,1.266602e+09,1.226029e+09,1.243930e+09,1.299204e+09,1.420643e+09,1.624057e+09,ID
96,"Spokane , Washington",208916,209042,209304,210036,211095,212545,215191,217415,Spokane,...,WA,8.916472e+08,8.900212e+08,8.975698e+08,8.838752e+08,8.998053e+08,9.094204e+08,9.312228e+08,9.590414e+08,WA
97,"Baton Rouge , Louisiana",229493,228643,228889,228346,227851,227202,226686,224414,Baton Rouge,...,LA,1.885289e+09,1.819968e+09,1.709733e+09,1.687416e+09,1.632501e+09,1.628949e+09,1.655432e+09,1.688648e+09,LA

In [10]:
emission_population_data = emission_population_data.rename(columns={"State_x": "State"})
emission_population_data

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,City,...,State,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017,State_y
0,"New York City , New York",8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,New York,...,NY,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10,NY
1,"Los Angeles , California",3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,Los Angeles,...,CA,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10,CA
2,"Chicago , Illinois",2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,Chicago,...,IL,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09,IL
3,"Houston , Texas",2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,Houston,...,TX,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10,TX
4,"Phoenix , Arizona",1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,Phoenix,...,AZ,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09,AZ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"Hialeah , Florida",224669,228127,230445,232316,232850,233872,234283,236314,Hialeah,...,FL,1.074061e+09,1.048081e+09,1.030512e+09,1.010589e+09,1.031680e+09,1.055433e+09,1.112826e+09,1.187533e+09,FL
94,"Richmond , Virginia",204214,206391,210794,213860,217044,220856,225369,227230,Richmond,...,VA,1.342048e+09,1.270741e+09,1.250544e+09,1.241224e+09,1.251715e+09,1.304951e+09,1.431631e+09,1.591292e+09,VA
95,"Boise , Idaho",205671,212635,215627,217330,219440,220850,224604,227648,Boise,...,ID,1.308069e+09,1.300467e+09,1.266602e+09,1.226029e+09,1.243930e+09,1.299204e+09,1.420643e+09,1.624057e+09,ID
96,"Spokane , Washington",208916,209042,209304,210036,211095,212545,215191,217415,Spokane,...,WA,8.916472e+08,8.900212e+08,8.975698e+08,8.838752e+08,8.998053e+08,9.094204e+08,9.312228e+08,9.590414e+08,WA
97,"Baton Rouge , Louisiana",229493,228643,228889,228346,227851,227202,226686,224414,Baton Rouge,...,LA,1.885289e+09,1.819968e+09,1.709733e+09,1.687416e+09,1.632501e+09,1.628949e+09,1.655432e+09,1.688648e+09,LA

In [11]:
emission_population_data = emission_population_data.drop(["State_Name", "State_y"], axis=1)
emission_population_data

,City_State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,City,State,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017
0,"New York City , New York",8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,New York,NY,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10
1,"Los Angeles , California",3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,Los Angeles,CA,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10
2,"Chicago , Illinois",2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,Chicago,IL,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09
3,"Houston , Texas",2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,Houston,TX,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10
4,"Phoenix , Arizona",1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,Phoenix,AZ,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"Hialeah , Florida",224669,228127,230445,232316,232850,233872,234283,236314,Hialeah,FL,1.074061e+09,1.048081e+09,1.030512e+09,1.010589e+09,1.031680e+09,1.055433e+09,1.112826e+09,1.187533e+09
94,"Richmond , Virginia",204214,206391,210794,213860,217044,220856,225369,227230,Richmond,VA,1.342048e+09,1.270741e+09,1.250544e+09,1.241224e+09,1.251715e+09,1.304951e+09,1.431631e+09,1.591292e+09
95,"Boise , Idaho",205671,212635,215627,217330,219440,220850,224604,227648,Boise,ID,1.308069e+09,1.300467e+09,1.266602e+09,1.226029e+09,1.243930e+09,1.299204e+09,1.420643e+09,1.624057e+09
96,"Spokane , Washington",208916,209042,209304,210036,211095,212545,215191,217415,Spokane,WA,8.916472e+08,8.900212e+08,8.975698e+08,8.838752e+08,8.998053e+08,9.094204e+08,9.312228e+08,9.590414e+08
97,"Baton Rouge , Louisiana",229493,228643,228889,228346,227851,227202,226686,224414,Baton Rouge,LA,1.885289e+09,1.819968e+09,1.709733e+09,1.687416e+09,1.632501e+09,1.628949e+09,1.655432e+09,1.688648e+09

In [12]:
emission_population_data = emission_population_data [["City_State","City","State",
                                                      "population2010", "population2011", "population2012",
                                                     "population2013", "population2014", "population2015",
                                                      "population2016", "population2017", "emissions2010",
                                                      "emissions2011", "emissions2012", "emissions2013",
                                                      "emissions2014", "emissions2015", "emissions2016",
                                                      "emissions2017"]]
emission_population_data

,City_State,City,State,population2010,population2011,population2012,population2013,population2014,population2015,population2016,population2017,emissions2010,emissions2011,emissions2012,emissions2013,emissions2014,emissions2015,emissions2016,emissions2017
0,"New York City , New York",New York,NY,8175133,8272948,8346693,8396091,8433806,8463049,8469153,8437478,1.145691e+10,1.025721e+10,9.592850e+09,9.491282e+09,9.690876e+09,1.029665e+10,1.171019e+10,1.304532e+10
1,"Los Angeles , California",Los Angeles,CA,3792621,3820876,3851202,3881622,3909901,3938568,3963226,3975788,1.633195e+10,1.497791e+10,1.413437e+10,1.361190e+10,1.446255e+10,1.549449e+10,1.732829e+10,1.907875e+10
2,"Chicago , Illinois",Chicago,IL,2695598,2708114,2719141,2725731,2727066,2724344,2716723,2711069,6.498994e+09,6.246525e+09,6.146778e+09,6.242132e+09,6.294254e+09,6.580447e+09,7.064306e+09,7.767246e+09
3,"Houston , Texas",Houston,TX,2099451,2126032,2161593,2199391,2241826,2286908,2309544,2316750,2.037585e+10,1.971698e+10,1.948527e+10,1.957627e+10,2.090323e+10,2.255046e+10,2.543433e+10,2.862886e+10
4,"Phoenix , Arizona",Phoenix,AZ,1445632,1469796,1499274,1526491,1555445,1583690,1612199,1633560,7.802805e+09,7.772033e+09,7.589138e+09,7.396678e+09,7.444988e+09,7.722396e+09,8.544019e+09,9.839820e+09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,"Hialeah , Florida",Hialeah,FL,224669,228127,230445,232316,232850,233872,234283,236314,1.074061e+09,1.048081e+09,1.030512e+09,1.010589e+09,1.031680e+09,1.055433e+09,1.112826e+09,1.187533e+09
94,"Richmond , Virginia",Richmond,VA,204214,206391,210794,213860,217044,220856,225369,227230,1.342048e+09,1.270741e+09,1.250544e+09,1.241224e+09,1.251715e+09,1.304951e+09,1.431631e+09,1.591292e+09
95,"Boise , Idaho",Boise,ID,205671,212635,215627,217330,219440,220850,224604,227648,1.308069e+09,1.300467e+09,1.266602e+09,1.226029e+09,1.243930e+09,1.299204e+09,1.420643e+09,1.624057e+09
96,"Spokane , Washington",Spokane,WA,208916,209042,209304,210036,211095,212545,215191,217415,8.916472e+08,8.900212e+08,8.975698e+08,8.838752e+08,8.998053e+08,9.094204e+08,9.312228e+08,9.590414e+08
97,"Baton Rouge , Louisiana",Baton Rouge,LA,229493,228643,228889,228346,227851,227202,226686,224414,1.885289e+09,1.819968e+09,1.709733e+09,1.687416e+09,1.632501e+09,1.628949e+09,1.655432e+09,1.688648e+09

In [14]:
emission_population_data.to_csv("emission_population_data.csv", encoding="utf-8", index=False)